.cart-details h1{
    font-size: 35px;
    margin: 0;
}
.cart-details h2{
    margin: 0;
    margin-bottom: 5px;
}
.name{
    background-color: #3b9bd6;
    line-height: 30px;
    border: 1px solid #cccccc;
    margin: 2px;
    border-radius: 5px;
}